@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #ECFFE6;
}

/* Navbar styles  */
nav {
  background-color: #17153B;
  padding: 1.3rem 2rem;
  justify-content: space-between;
  border-bottom: 4px solid #d40c0c;
}

nav,
form {
  display: flex;
  align-items: center;
  gap: 1rem;
}

ul {
  padding: 0;
  margin: 0;

}

nav ul li .nav-link {
  color: #F5F7F8;
  font-weight: 700;
  font-size: 1.4rem;
  color: #8c0733;
  font-family: "Signika Negative", sans-serif;
}

form {
  justify-content: center;
}

form input {
  outline: none;
  width: 30vw;
  background-color: #20184f67;
}

form input,
form button{
  border: none;
  font-family: inherit;
  padding: 0.8rem 1rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; 
}
form input,
form input::placeholder {
  color: #a99e9e;
}

form input::placeholder {
  font-size: 1rem;
}

form button {
  background-color: #8c0733;
  width: 10vw;
  color: #dad1d1;
  text-transform: uppercase;
  cursor: pointer;
}

/* Loading component styles  */
.loader {
  width: 20px;
  height: 8px;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  color: #8c0733;
  background: currentColor;
  box-sizing: border-box;
  animation: animloader 0.6s 0.3s ease infinite alternate;
}

.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 20px;
  height: 8px;
  background: currentColor;
  position: absolute;
  border-radius: 4px;
  top: 50%;
  right: 110%;
  animation: animloader  0.6s ease infinite alternate;
}

.loader::after {
  left: 110%;
  right: auto;
  animation-delay: 0.6s;
}

@keyframes animloader {
  0% {
    width: 20px;
  }
  100% {
    width: 48px;
  }
}

.main-container {
  margin-top: 1rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

 .box2 {
 position: relative;
 height:fit-content;
 overflow: hidden;
  width: 40vw;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.box2,
.movie-image-container {
  border-radius: 0.2rem;
}
 .movie-image-container {
    width: 65%;
    height: 100%;
    position: relative; 
  object-fit: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
 }
.movie-poster {
  display: block;
  min-width: 310px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.ratings {
  align-items: center;
  gap: 0.6rem;
}
.ratings-icon {
  color: orange;
}

.type-of-movie {
  font-weight: 500;
}

.abt-movie-text {
  font-weight: 700;
  margin-left: 3px;
  font-size: 0.9rem;
}
.title {
  margin-top: 1rem;
  margin-bottom: 0.7rem;
}

.genres-container,
.overview {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}
.overview h3{
  margin-bottom: 0.5rem !important;
  margin-top: 0.4rem;
  text-align: left;
  font-size: 1.1rem;
  color: #141068;
}

.abt-movie {
  padding: 0.6rem 1.2rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: #ECFFE6; 
  width: 45vw !important;
  flex-direction: column;
  align-items: center;
}

.title,
.genres,
.play-btn {
  width: 100%;
}

.genres-container h4 {
  color:#141068;
}

.movie-info {
  flex-wrap: wrap;
  gap: 0.6rem;
}

.play-btn {
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 0.5rem;
}

.genres-container,
.genres{
  display: flex;
  gap: 0.5rem;
}

.genres-container {
  margin-top: 0.01rem;
}

.watch-movie,
.close-btn{
  display: flex;
  align-items: center;
  background-color: #8c0733;
  padding: 0.7rem;
  border-radius: 0.2rem;
  color: #FCF8F3;
  gap: 1rem;
  width: 110px;
  justify-content: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.play-btn-icon {
  color: #7cfc00;
}


.close-btn-icon {
  color: #D71313;
}

/* Search Movie Card Styles  */
.search-movie-card {
  display: flex;
  height: 75%;
  overflow: hidden;
  justify-content: center;
  gap: 1rem;
  box-sizing: border-box;
  background-color: #ecffe6;
  border-radius: 0.5rem;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-movie-img-container {
  width: 320px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
}

.search-movie-img {
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex: 1; 
}


.search-your-movie {
  width: 40vw;
  padding: 0.8rem;
}
.search-play-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 1.3rem;
}

.overview-title {
  margin-bottom: 0.7rem;
}
.search-movie-highlightext {
  font-weight: 600;
  font-size: 1rem;
}
.overview-text {
  color:#272257;
  margin-bottom: 0.8rem;
}

.overview-text,
.search-moive-content,
.close-btn-icon,
.play-btn-icon {
  font-size: 1.1rem;
} 

.search-moive-content,
h1,
.search-movie-highlightext,
.overview-title,
.title,
.abt-movie-text{
  color:#141068;
}

.search-moive-content {
  flex-direction: column;
  gap: 0.6rem;
}
.search,
.search-moive-content,
.play-btn,
.movie-info,
.abt-movie,
.ratings,
.box2  {
  display: flex;
}

@media only screen and (max-width: 600px) {
  nav {
   flex-direction: column;
    gap: 1rem;
  }
  form input {
    width: 45vw;
  }
  form button {
    width: 30vw;
  }
  .main-container {
    padding: 1rem;
  }
  .box2 {
     flex-direction: column;
     width: 95vw !important;
     border-radius: 0.4rem;
     overflow: hidden;
   }

   .abt-movie {
    padding-right: 1rem !important;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .movie-info,
   .overview,
   .genres,
   .play-btn,
   .title  {
    width: 100%;
   }

   .overview p {
    font-size: 1rem;
   }

   .movie-image-container {
    width: 100%;
    height: 45vh;
    position: relative; 
  overflow: hidden;
 }

.overview h3{
  font-size: 1.1rem;
}
.title h3 {
  font-size: 1.3rem;
}

.play-btn {
 justify-content: space-between;
  margin-bottom: 0.7rem;
}

  /* SearchMovie Styles  */
  .search-movie-card {
     flex-direction: column;
     width: 95vw;
  }

  .search-movie-img-container {
    height: 350px;
    width: 95vw;
    overflow: hidden;
  }
.search-movie-img {
  margin-bottom: -180px;
}

.search-your-movie {
  width: 100%;
}
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  form input {
    width: 40vw; 
  }
  form button {
    width: 20vw; 
  }
  nav ul li .nav-link {
    font-size: 1.8rem;
  }

  .box2 {
    flex-direction: column;
    width: 95vw !important;
    border-radius: 0.4rem;
    overflow: hidden;
  }
  .abt-movie {
    padding: 1rem 2rem;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .movie-image-container {
    width: 100%;
    height: 45vh;
    position: relative; 
  overflow: hidden;
 }
 .play-btn {
  justify-content: space-between;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
 }
 .movie-info,
 .overview,
 .genres,
 .play-btn  {
  width: 100%;
 }

 .overview p {
  font-size: 1.3rem;
 }

 .title {
  width: 100%;
 }
 .title h3 {
  font-size: 1.7rem;
 }

 .genres-container,
 .overview h3 {
  font-size: 1.4rem;
 }
 
 .movie-info {
   gap: 1.3rem;
 }

 .movie-info,
 .abt-movie-text {
  font-size: 1.3rem;
 }
 .watch-movie,
 .close-btn {
  width: 200px;
  gap: 1.6rem;
  font-size: 1.3rem;
 }

 .play-btn-icon,
 .close-btn-icon {
  font-size: 1.3rem;
 }

 .overview {
  margin-top: 1rem;
 }
}